.wrapper {
    height: 100%;
    background: url("../img/aaron-burden-149691.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.demo-box {
    height: 100%;
    animation: demo-box-fade-in .2s cubic-bezier(0, .20, .20, .96);
}

@keyframes demo-box-fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-wrapper {
    width: 400px;
    margin: 20px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-logo-wrapper {
    width: 400px;
    height: 100px;
    position: relative;
}

.login-logo {
    width: 157px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-t-field {
    width: 80% !important;
}

.block {
    margin-left: 40px;
    text-align: left;
}

.checkbox {
    margin-top: 16px;
    margin-bottom: 16px;
}

.login-btn {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}